<div class="c-gameInit">
    <div>Runden: {{gameStatus.nofRounds}}</div>
    <div>Angezeigte Buchstaben: {{gameStatus.nofShownLetters}}</div>
    <div>Minimum an Buchstaben: {{gameStatus.minLetters}}</div>
    <div>Maximum an Buchstaben: {{gameStatus.maxLetters}}</div>
    <ul>
        <li *ngFor="let playerName of gameStatus.playerNames">{{playerName}}</li>
    </ul>
    <button *ngIf="gameService.isMyGame()" (click)="startGame()">Start</button>

    <button (click)="leaveGame()">Leave</button>
</div>
