@import "../../styles/mixins";

.c-gameInit {

  &__settings {
    width: 100%;
    border-color: darkblue;
    border-style: solid;
    border-width: 1px 0 0 10px;
    margin-top: 5px;

    tr:nth-child(odd) {
      background-color: lightblue;
      color: white;
    }

    tr:first-child {
      background-color: darkblue;
      color: white;
    }

    td {
      padding: 3px 5px;
    }
  }

  &__players {
    border-color: darkblue;
    border-style: solid;
    border-width: 1px 0 0 10px;
    margin-top: 15px;

    li {
      padding: 3px 5px;
    }

    li:nth-child(odd) {
      background-color: lightblue;
      color: white;
    }

    li:first-child {
      background-color: darkblue;
      color: white;
    }
  }

  @include buttons();
}