<div class="c-gameRunning">
    <div class="c-gameRunning__round">Runde {{gameStatus.currentRound}} von {{gameStatus.nofRounds}}</div>
    <div *ngIf="gameStatus.yourTurn">
        <div class="c-gameRunning__lastTextLabel">Vorheriger Text:</div>
        <div class="c-gameRunning__lastText">
            {{gameStatus.shownLetters ? gameStatus.shownLetters : 'Es war einmal ...'}}
        </div>
        <form (ngSubmit)="commit(form.value)">
            <div class="c-gameRunning__textLabel">
                <label for="textField">Dein Text:</label>
            </div>
            <div class="c-gameRunning__text">
                <textarea id="textField"
                          [formControl]="form.controls['text']"
                          maxlength="{{gameStatus.maxLetters}}"></textarea>
            </div>
            <div class="c-gameRunning__letterCount">{{form.value.text.length}} / {{gameStatus.maxLetters}}</div>
            <div [ngClass]="{'-show': !form.controls['text'].valid && form.controls['text'].touched}" class="c-gameRunning__error">
                Dein Text muss zwischen {{gameStatus.minLetters}} und {{gameStatus.maxLetters}} Zeichen enthalten.
            </div>
            <div class="c-gameRunning__buttons">
                <button class="c-gameRunning__button -primary" type="submit">Text abschicken</button>
                <button (click)="leaveGame()" class="c-gameRunning__button">Spiel verlassen</button>
            </div>

        </form>
    </div>
    <div *ngIf="!gameStatus.yourTurn">
        <div class="c-gameRunning__othersTurn">{{gameStatus.whosTurnName}} ist am Zug.</div>

        <div class="c-gameRunning__buttons">
            <button (click)="leaveGame()" class="c-gameRunning__button">Leave</button>
        </div>
    </div>
</div>
