@import "../../../colors.scss";

.c-cards {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    margin: 0 -8px;

    .cardDetail {
      display: flex;
    }
  }

  &__card {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px;
    position: relative;
    width: 33%;

    &.selected img {
      border-color: white;
    }

    &.picked img {
      border-color: white;
    }

    &.incorrect img {
      opacity: 0.5;
    }

    &.picked.incorrect img {
      border-color: $red;
      opacity: 1;
    }

    &.correct img {
      border-color: $green;
    }

    &.own img {
      filter: grayscale(100%);
      opacity: 1;
    }

    img {
      border: solid 3px $lightblue;
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;
    }

    .count {
      background-color: black;
      border: solid 3px $lightblue;
      border-radius: 50%;
      bottom: 18px;
      color: $lightblue;
      font-weight: bold;
      line-height: 20px;
      position: absolute;
      right: 15px;
      text-align: center;
      width: 20px;
    }

    &.-max {
      width: 100%;

      img {
        border-radius: 20px;
        border-width: 5px;
      }
    }
  }

  .previous, .next {
    align-self: center;
    font-size: 30px;
    text-align: center;
    width: 60px;
  }

  .previous::after {
    content: '\f053';
    font-family: FontAwesome;
  }

  .next::after {
    content: '\f054';
    font-family: FontAwesome;
  }

  .title {
    font-weight: bold;
  }

  .details {
    margin: 0 8px;

    .owner {
      text-align: center;
    }
  }
}