$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "colors";

html {
  height: 100%;
}

body {
  background-color: black;
  color: #e6e6e6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
  }

  .stretch {
    flex: 1;
  }

  .btn {
    background-color: $lightblue;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    line-height: 48px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;

    &.btn-next::after {
      content: '\f054';
      float: right;
      font-family: FontAwesome;
    }

    &.disabled {
      background-color: $disabledbtn;
      pointer-events: none;
    }

    &.btn-add::before {
      content: '\f067';
      font-family: FontAwesome;
      margin-right: 10px;
    }

    &.btn-start::before {
      content: '\f04b';
      font-family: FontAwesome;
      margin-right: 10px;
    }
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .margin-bottom-40 {
    margin-bottom: 40px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 2px solid $blue;
      padding: 20px;

      &:last-child {
        border-bottom: 2px solid $blue;
      }
    }
  }

  .clickable {
    color: $lightblue;
  }

  .float-right {
    float: right;
  }
}