@import "../../../colors.scss";

.c-cards {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    margin: 0 -8px;

    .cardDetail {
      display: flex;
    }
  }

  &__card {
    display: inline-block;
    width: 33%;
    padding: 8px;
    box-sizing: border-box;

    &.selected img {
      border-color: white;
    }

    img {
      border: solid 3px $lightblue;
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;
    }

    &.-max {
      width: 100%;
    }
  }

  .previous, .next {
    align-self: center;
    font-size: 30px;
    text-align: center;
    width: 60px;
  }

  .previous::after {
    content: '\f053';
    font-family: FontAwesome;
  }

  .next::after {
    content: '\f054';
    font-family: FontAwesome;
  }

  textarea {
    height: 80px;
  }

  .title {
    font-weight: bold;
  }
}