.p-select {

  &__gamesText {
    margin-top: 25px;
  }

  &__games {
    margin-top: 5px;
    border: 1px darkblue dashed;
  }

  &__game {
    padding: 10px 5px;

    &--clickable {
      cursor: pointer;
      background-color: darkblue;
      color: white;
    }

    &--clickable + &--clickable {
      border-top: 1px solid white;
    }
  }

  &__buttons {
    margin-top: 25px;
  }

  &__button {
    margin-top: 15px;
  }
}