<div class="p-select">
    <div class="p-select__greeting">Hello, {{player.getName()}}!</div>
    <div class="p-select__gamesText">Select a game:</div>
    <ul class="p-select__games">
        <li *ngFor="let game of games" (click)="enterGame(game.id)" class="p-select__game p-select__game--clickable">
            {{game.name}}
        </li>
        <li *ngIf="games.length === 0" class="p-select__game">No games found.</li>
    </ul>
    <div class="p-select__buttons">
        <button (click)="newGame()" class="p-select__button">New game</button>
        <button (click)="logout()" class="p-select__button">Logout</button>
    </div>
</div>
