.p-start {

  &__error {
    color: darkred;
    font-size: 0.8rem;
    visibility: hidden;

    &.-show {
      visibility: visible;
    }
  }

  &__button {

    &--next {
      margin-top: 25px;
    }
  }
}