@import "clean";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: darkslategray;
}

input, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px dashed darkblue;
  color: darkblue;

  &.ng-invalid {
    border-color: darkred;
    color: darkred;
  }
}

textarea {
  resize: none;
  border: 1px dashed darkblue;
  padding: 10px 5px;
  margin-bottom: 0;
}

button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px;
  background-color: gray;
  color: white;

  &.-primary {
    background-color: darkblue;
  }
}

.clickable {
  cursor: pointer;
}
